<body>
<head>
	<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
	
</body>
<template name="description">
<div class="copy">
	
<h2>Description of the API</h2>
<p>This is the value proposition of your API. It describes the value that you aim to create, deliver and capture from your API to support your organization's broader strategy. This value proposition is then translated into the functional and non-functional features of your API and API program.</p>

 
<p>With this field you achieve two things:</p>
<ol>
	<li>Describe the API such that it supports what you decided in the field of the API Model Canvas about strategy and objectives.</li>
	<li>Solve an interesting problem for developers so they see value in adopting your API.</li>
</ol>

<!--
<p>The five keys of great APIs devised by <a href="https://twitter.com/johnmusser">John Musser</a> and summarized in <a href="http://www.programmableweb.com/news/what-makes-great-api-five-keys/2012/07/19">this article</a> are useful for this field. We added our own thoughts to this in the blog post series about the <a href="http://www.3scale.net/2012/11/building-great-apis-the-api-gold-standard-part-i/">API Gold Standard</a>.</p>
-->

It is helpful to focus on the value of the <i>effect</i> of the API rather than the API per se. It is the organization's core business which is valuable and the API is a channel for this providing new types of access to an organizations existing value.

<h3>Important Questions</h3>
<ul style="list-style-type: circle;">
	<li>How should your API look to achieve what you outlined in the API strategy field?</li>
	<li>What interesting problem do you solve while creating an API of value for developers?</li>
	<li>What exactly is the value of the <i>effect</i> of your API?</li>
	<li>Which assets do you allow controlled access to?</li>
	<li>How do you describe the channel to these assets (=the API)?</li>
</ul>

<h3>Further Reading</h3>
<a href="http://www.3scale.net/2015/01/effective-api-programs-apis-and-strategy/" target="_blank">Effective API Programs: APIs and Strategy</a><br>
<a href="http://www.3scale.net/2015/01/effective-api-programs-api-business-models/" target="_blank">Effective API Programs: The Right Business Model</a><br>
<a href="http://www.programmableweb.com/news/what-makes-great-api-five-keys/2012/07/19" target="_blank">What Makes a Great API? The Five Keys</a><br>
<a href="http://www.slideshare.net/jmusser/what-makes-a-great-open-api" target="_blank">What Makes a Great Open API</a> (slides)<br>
<a href="http://www.3scale.net/2012/11/building-great-apis-the-api-gold-standard-part-i/" target="_blank">Building Great APIs: The Gold Standard (I)</a>
<br><br>

</div>

</template>