<body>
<head>
	<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
	
</body>
<template name="apidesign">

<div class="copy">
	
<h2>API Design and Implementation</h2>
<p>This field contains more details about API design and implementation decisions. To ensure appropriate API design it is important to understand the industries and users you aim to address. Different user profiles may know or prefer different paradigms, technologies, or data formats. Addressing these preferences increases the potential adoption of your API.</p>

<p>These considerations lead to design decisions such as how data or services are exposed via APIs (REST, SOAP, RPC, proprietary etc.) or data format (JSON, XML etc). Another important aspect is how resources are modeled -how fine- or coarsely-grained the data are in the responses of the API. For example, if you have to integrate with various legacy systems the internal data structure will likely be unsuitable to be exposed as-is, so an intermediary layer of resource modeling would need to be introduced.</p>


<h3>Important Questions</h3>
<ul style="list-style-type: circle;">
	<li>What industries will you serve with your API?</li>
	<li>What are typical user and developer profiles using your API?</li>
	<li>What are common standards or preferences typical for these industries and developers?</li>
	<li>What architecture style is most appropriate for your API?</li>
	<li>What data format is most appropriate for your API?</li>
	<li>What technology and programming language is best to implement your API?</li>
	<li>Where and how do you want to deploy and host your API?</li>
</ul>

<h3>Further Reading</h3>
<a href="http://www.3scale.net/" target="_blank">API Design and implementation [link to blog post]</a><br>
<a href="http://www.3scale.net/2014/11/practical-advice-api-lifecycle-part1/" target="_blank">Practical Advice For The Stages Of The API Lifecycle (Part 1/4)</a>: Plan / Design Phase<br>
<a href="http://www.3scale.net/2012/11/building-great-apis-the-gold-standard-ii/" target="_blank">Building Great APIs (II): Simplicity, Flexibility and TTFHW</a><br>
<a href="http://apiux.com/2014/09/05/api-design-sustainability/" target="_blank">How to Design APIs That Last</a><br>
<a href="http://www.thoughtworks.com/insights/blog/rest-api-design-resource-modeling%C2%A0" target="_blank">REST API Design - Resource Modelling</a><br>
<a href="http://apicodex.3scale.net/content/API_Design" target="_blank">APICodex</a><br>
<br><br>
</div>

</template>