<body>
<head>
	<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
	
</body>
<template name="key_partners">
<div class="copy">
	
<h2>Key Partners</h2>
<p>This field considers all external and internal stakeholders relevant for the API program. Depending on the context of an organization, its objectives and the scope of the API (public, partner, or private), the design and operations of the API can be multi-dimensional and transversal.</p>

<p>That means that in many cases, an API Program will most likely span several organizational units. This can be compared to other elements of organizational structures that transcend unit borders like security, IT strategy, quality management, HR management, resource allocation, or organizational culture.</p>

<p>Also the API will include various stakeholders externally. The organization that exposes APIs is embedded in an environment with strategic partners, agencies, suppliers, buyers, resellers, user or developers, and end-consumers. This constellation again depends on how you intend to leverage APIs and on scope.</p>

<p>A stakeholder analysis using tools like the power/interest grid can provide valuable insight.</p>


<h3>Important Questions</h3>
<ul style="list-style-type: circle;">
	<li>What organizational units does your API affect and in which way?</li>
	<li>What external stakeholders are crucial for the success of your API?</li>
	<li>Can you group the various stakeholders into categories to leverage collaboration efficiencies?</li>
	<li>Are there any dependencies between the various stakeholders?</li>
	<li>What are the relationships between the stakeholders?</li>
	<li>Who are the key people to involve internally and externally? How should they be involved?</li>
	<li>What is the best way(s) to communicate with the various stakeholders?</li>
</ul>

<h3>Further Reading</h3>
<a href="http://www.3scale.net/2014/12/building-effective-api-programs-introduction/" target="_blank">Effective API Programs: Introduction</a><br>
<a href="http://www.mindtools.com/pages/article/newPPM_07.htm" target="_blank">Stakeholder Analysis: Power/Interest Grid Tool</a><br>
<br><br>
</div>

</template>