<body>
<head>
	<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
	
</body>
<template name="key_activities">
<div class="copy">
	
<h2>Key Activities</h2>
<p>This field includes all activities that are required to successfully run the API program. That could include API operations, support, onboarding of new customers and developers, marketing, testing, extending the API, maintaining infrastructure, controlling and managing distribution channels, etc.</p>

<p>In order to get full visibility and control over your API, we strongly recommend API Management which includes features such as access control, usage policies (like rate limits), analytics, API documentation, developer portals, monetization and billing.
</p>

<p>
You can implement this yourself (ideally deploying open-source solutions so that you don’t have to start completely from scratch) or you can choose one of the off-the-shelf API Management solutions - like ours from <a href="http://www.3scale.net/" target="_blank">3scale</a> - which are usually more cost-effective. 
</p>


<h3>Important Questions</h3>
<ul style="list-style-type: circle;">
	<li>What are the key activities necessary to establish and run your API program?</li>
	<li>How should you classify and prioritize these activities?</li>
	<li>How can you automate activities?</li>
	<li>How do you measure and improve the activities?</li>
	<li>Which activities should you stop doing?</li>
</ul>

<h3>Further Reading</h3>
<a href="" target="_blank">Effective API Programs: API Operations [link to blog post]</a><br>
<a href="" target="_blank">Effective API Programs: Marketing [link to blog post]</a><br>
<a href="" target="_blank">Effective API Programs: DX [link to blog post]</a><br>
<a href="http://www.3scale.net/2014/11/practical-advice-api-lifecycle-part3/" target="_blank">Practical Advice For The Stages Of The API Lifecycle (Part 3/4)</a>: Operate / Manage Phase<br>
<a href="http://www.3scale.net/2012/11/great-apis-the-need-for-api-management-part-iii/" target="_blank">Building Great APIs (III)</a><br>

</div>

</template>