<body>
<head>
	<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
	
</body>
<template name="key_resources">
<div class="copy">
	
<h2>Key Resources</h2>
<p>This field includes all the resources required to run the API program (next to the key activities). They could be internal human resources, external contractors, hardware, software, books/magazines, data, intellectual property, brand equity, or financial resources.</p>


<h3>Important Questions</h3>
<ul style="list-style-type: circle;">
	<li>What are the key resources necessary for establishing and running your API program?</li>
	<li>How do you classify and prioritize these resources?</li>
	<li>Which resources are crucial?</li>
	<li>Are there any important dependencies or other relations between the required resources?</li>
	<li>How do you get and deploy the resources?</li>
	<li>Which resources do you not need anymore?</li>
</ul>

<h3>Further Reading</h3>
<a href="" target="_blank">Effective API Programs: API Operations [link to blog post]</a><br>
<a href="" target="_blank">Effective API Programs: Marketing [link to blog post]</a><br>
<a href="" target="_blank">Effective API Programs: DX [link to blog post]</a><br>
<a href="http://www.3scale.net/2014/11/practical-advice-api-lifecycle-part3/" target="_blank">Practical Advice For The Stages Of The API Lifecycle (Part 3/4)</a>: Operate / Manage Phase<br>

</div>

</template>