<body>
<head>
	<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
	
</body>
<template name="dev_program">
<div class="copy">
	
<h2>Developer Program</h2>
<p>The developer program is the manifestation of developer relations. It is a systematic approach that shapes and defines touchpoints with developers.</p>
<p> 
At the core of a developer program is a developer portal that allows easy access to the API. Moreover, it should contain API documentation (ideally accessing the live API), support, contact, inspiration about what’s possible with your API or what others did (e.g., an app gallery), roadmaps and clear information about your terms and conditions.
</p>
<p>Another crucial element is a plan for events. Events range from conferences, workshops, and exhibitions to hands-on events like hackathons. Choice is important since different types of events attract different types of developers. You   can also choose in which way you want to get involved to achieve your goals.
</p>
<p>Overall, a focus on providing an outstanding developer experience (DX) for all touch points is essential.
We strongly recommend you measure and evaluate the effectiveness of the various channels for optimal result.
</p>


<h3>Important Questions</h3>
<ul style="list-style-type: circle;">
	<li>Which channels do you want to serve and how?</li>
	<li>Which events do you want to cover and how?</li>
	<li>Having a developer portal is a given. The question is more about how you structure and design it.</li>
	<li>How can you provide your developers an outstanding developer experience?</li>
	<li>How do you measure your channels and means and what does effectiveness mean for you?</li>
</ul>

<h3>Further Reading</h3>
<a href="" target="_blank">Effective API Programs: DX [link to blog post]</a><br>
<a href="" target="_blank">Effective API Programs: Marketing [link to blog post]</a><br>
<a href="http://www.3scale.net/2014/11/practical-advice-api-lifecycle-part4/" target="_blank">Practical Advice For The Stages Of The API Lifecycle (Part 4/4)</a>: Share / Engage Phase<br>
<a href="http://www.programmableweb.com/news/how-to-maximize-developer-adoption/analysis/2014/11/17" target="_blank">How to Maximize Developer Adoption</a><br>
<a href="http://developer-support-handbook.appspot.com/" target="_blank">Developer Support Handbook by Pamela Fox</a><br>

</div>

</template>