<body>
<head>
	<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
	
</body>
<template name="dev_segmentation">
<div class="copy">
	
<h2>Developer Segmentation, Targeting and Positioning</h2>
<p>There are about 50 million developers globally with totally different requirements and intentions. In order to address the right developers in the right way it’s crucial to conduct a segmentation-targeting-positioning (STP) exercise.</p>
<p>
The right segment(s) need(s) to be identified - based on your selected developer archetypes -and tactics need to be devised to address the members of those segments accordingly. Of course you are probably not alone - there are always other competitors - so it helps to position yourself in a way that highlights your product’s features and strengths.
</p>


<h3>Important Questions</h3>
<ul style="list-style-type: circle;">
	<li>Do you know what developers will be adopting your APIs?</li>
	<li>Do you know what pain you address for them, or what they gain by using your API?</li>
	<li>Do you know how to find them? How to communicate to them?</li>
	<li>Who are the main competitors in your market or market segment?</li>
	<li>How are you different or better than the competition?</li>
	<li>How will you leverage your differences and strengths?</li>
</ul>

<h3>Further Reading</h3>
<a href="" target="_blank">Effective API Programs: Marketing [link to blog post]</a><br>
<a href="" target="_blank">Effective API Programs: DX [link to blog post]</a><br>
<a href="http://www.3scale.net/2014/11/practical-advice-api-lifecycle-part4/" target="_blank">Practical Advice For The Stages Of The API Lifecycle (Part 4/4)</a>: Share / Engage Phase<br>
<a href="http://www.programmableweb.com/news/how-to-maximize-developer-adoption/analysis/2014/11/17" target="_blank">How to Maximize Developer Adoption</a><br>
<a href="http://www.visionmobile.com/product/developer-segmentation-2014/" target="_blank">Developer Segmentation</a>(VisionMobile)<br>
<a href="http://hbswk.hbs.edu/item/6496.html" target="_blank">Clay Christensen’s Milkshake Marketing</a><br>
Any good marketing strategy resource on the Web (Philip Kotler wrote quite extensively about STP.)<br>

</div>

</template>