<body>
<head>
	<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
	
</body>


<template name="costs">
<div class="copy">
	
<h2>Cost Structure</h2>
<p>This field covers the cost incurred by the API program. Direct cost are easy to measure, indirect cost are more challenging, and the number of  organizational units and stakeholders  involved also effects costs and control. Cost is most likely always a measure in which the management and the owner of the API program are interested in. Costs should be defined and in line with the direction specified in the Strategy for the API and Objectives fields of the API Model Canvas.</p>


<h3>Important Questions</h3>
<ul style="list-style-type: circle;">
	<li>How much will the whole API program cost?</li>
	<li>How are these costs financed? Do you have a firm long-term commitment from the decision makers?</li>
	<li>What are direct vs indirect costs?</li>
	<li>What are one-off vs recurring costs?</li>
	<li>How can the cost structure be broken down into various groups and elements?</li>
	<li>What are the most expensive vs the most crucial elements?</li>
	<li>Do you need to factor in alternate solutions and costs?</li>
</ul>

<h3>Further Reading</h3>
<a href="http://www.3scale.net/2014/12/building-effective-api-programs-introduction/" target="_blank">Effective API Programs: Introduction</a><br>
Any good accounting and finance resource on the Web

</div>


</template>