<body>
<head>
		<link href="../APIModelCanvas_v2.css" rel="stylesheet" />
</head>
</body>

<template name="help">	
<div class="copyWithMargin">	
<h2>Help</h2>

<p>The API Model Canvas is an adaptation of Alex Osterwalder's work on the <a href="http://businessmodelgeneration.com/canvas/bmc">Business Model Canvas</a>. The interactive presentation of the API Model Canvas on this site was developed using <a href="https://github.com/bartaz/impress.js/">impress.js</a>. You can navigate using the left and right arrow keys through the API Model Canvas or select the various fields directly by clicking on them.
</p><p>
When starting to plan and design an API Program, we strongly recommend to start with the field "<a href="../API-Model-Canvas.html#strategy-details">Strategy for the API and Objectives</a>." Most likely you will iterate through the various fields of the canvas various times, which is totally normal, until you find the best constellation for your API program.
</p><p>
Good practice is to actually print the API Model Canvas on a poster and use post-its for brainstorming and assessing the various possibilities. You can print an A3 version. We also recommend to revisit your conclusions in each field in regular intervals.
</p>
<p>
For more information, have a look at our <a href="/">API Model Canvas</a> or get in touch with us via <a href="mailto:manfred@3scale.net">email</a>.</p>

</div>


</template>