<body>
<head>
		<link href="APIModelCanvas_v2.css" rel="stylesheet" />
</head>
</body>
	
	
<template name="introduction">	

<div class="copyWithMargin">	
<h2>API Model Canvas Introduction</h2>

<p>The API Model Canvas is based on the <a href="http://businessmodelgeneration.com/canvas/bmc" target="_blank">Business Model Canvas</a> developed by <a href="https://twitter.com/AlexOsterwalder" target="_blank">Alex Osterwalder</a>, which helped startups as well as leading global companies like GE, P&amp;G, and Nestle to find and describe their business models.</p>

<p>Similar to the Business Model Canvas, the API Model Canvas helps to understand how to describe, create, deliver and capture value via a Web API. It provides an easy-to-follow methodology to set-up and run an API Program that contains eleven fields essential for creating and running API Programs.</p>

<p>The idea of using Business Model Canvas for APIs is not new. <a href="https://twitter.com/hlgr360">Holger Reinhardt</a> talked about the value of embedding APIs into business strategy by using the Business Model Canvas at the <a href="http://www.slideshare.net/rnewton/lean-api-strategy-holger-reinhardt-snr-principal-business-unit">APIDays'14</a> conference in Berlin, and summarized his thoughts in <a href="http://www.apiacademy.co/blog-author/Holger%20Reinhardt">this article</a>. <a href="https://twitter.com/mgboydcom">Mark Boyd</a> also used the Business Model Canvas to describe <a href="http://www.programmableweb.com/news/how-quickprints-api-rebuilt-walgreens-photo-printing-service/analysis/2013/11/27">Walgreens' QuickPrint API</a> model.</p>

<p>However, adapting the fields of the original Canvas and their structure to reflect the specific nature and requirements of API programs is new.</p>


<p>Below is the illustration of the API Model Canvas.</p>
<img src="/API-Model-Canvas-Intro.png" width="70%" alt="API Model Canvas">

<p>The API Model Canvas focusses on the essential aspects of API programs and gives concise and practical guidelines about what needs to be done for each of the aspects. The fields are:</p>


<ol>
	<li>Strategy for the API and Objectives</li>
	<li>Description of the API</li>
	<li>API Design and Implementation</li>
	<li>Key Partners</li>
	<li>Key Activities</li>
	<li>Key Resources</li>
	<li>Developer Relations</li>
	<li>Developer Program</li>
	<li>Developer Segmentation, Targeting and Positioning</li>
	<li>Cost Structure</li>
	<li>In-flow Metrics</li>
</ol>
<p>Each field belongs to one of the following groups (illustrated in the figure below):</p>
<ul>
	<li>The Infrastructure and Resources</li>
	<li>The (technical) API offering itself</li>
	<li>The Customer (=Developer)</li>
	<li>Value For Money</li>
</ul>
<p>Roughly, the left side of the Canvas relates to internal aspects of an organisation and the right side to external ones. The group "(technical) API offering" sits in between as an interface.</p>

<img src="/API-Model-Canvas-IntroGreen.png" width="70%" alt="API Model Canvas">

<p>These are the basics and should be enough to get you started. To find out more about the API Model Canvas and 3scale visit our <a href="About.html">About</a> page, or go to our <a href="Help.html">Help</a> pages.</p>

<p>Click here to jump right into the <a href="/">API Model Canvas</a>.</p>
</div>


</template>